/* margin */
.mt--15{
    margin-top:-15px;
}

.mt--25{
    margin-top: -25px;
}
.mb--20{
    margin-bottom: -20px;
}
.ml-54{
    margin-left: 54px;
}
.ml--24{
    margin-left: -24px;
}
/*background color */
.bg-red{
    background-color: #e60012;
}
.bg-blue{
    background-color: #d6f0fa;
}
.bg-gray{
    background-color: rgb(248, 248, 248);
}
.bg-dark-gray{
    background-color: rgb(72, 72, 72);
}
/*width*/
.w-288{
    width: 288px;
}